@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    background-color: rgb(45, 46, 46);
    background-size: cover;
    margin:   0;
    padding:   0;
    border: #000;
}

.profile-container {
    width:   80%;
    margin:   0 auto;
    text-align: center;
    padding:   10px;
    background-image: url("—Pngtree—hospital\ doctor\ profile\ board\ background_1119031.jpg");
    background-size: cover;
    box-shadow:   0px   0px   10px rgba(0,   0,   0,   0.1);
}

.profile-image {
    width:   200px;
    height:   200px;
    border-radius:   50%;
}

.profile-name, .profile-title {
    font-size:   24px;
    color: #333;
    margin-bottom:   10px;
}

.profile-bio {
    font-size:   16px;
    color: #000;
    margin-bottom:   25px;
}

.profile-education, .profile-work-experience, .profile-skills {
    list-style-type: none;
    padding:  0;
}

.profile-education li, .profile-work-experience li, .profile-skills li {
    padding:  5px  0;
}

.profile-contact {
    border-top:   5px solid #eee;
    padding-top:   10px;
}

.profile-contact p {
    margin:   0;
    font-size:   14px;
    color: #666;
}

